{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
{% block body %}
<section class="bg0 p-t-50 p-b-70" style="padding-left: 35%;">
<div class = "container">
    <h1><B>Change Password</B></h1>
    <br><br><br>
    <div class="flex-w flex-tr">
        <form action="change_password.php" method="post">
            <label for="old_password">Old Password:</label>
            <input type="password" id="old_password" name="old_password" required><br><br>

            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" required><br><br>

            <label for="confirm_password">Confirm New Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required><br><br>

            <input type="submit" value="Change Password">
        </form>
    </div>
</div>
</section>
{% endblock %}
</body>
</html>